[submodule "bin_tree"]
	path = bin_tree
	url = https://github.com/acwilson96/bin_tree.git
[submodule "trie"]
	path = trie
	url = https://github.com/acwilson96/trie.git
[submodule "bloom_filter"]
	path = bloom_filter
	url = https://github.com/acwilson96/bloom_filter.git
[submodule "lru_cache"]
	path = lru_cache
	url = https://github.com/rdtscp/lru_cache.git
